<%include file="header.html" args="page='/config/debug', subtitle='Debug'"/>

<div class="container">
    <h2>Debug</h2>

    <p>
        Enable verbose output for a given storage (as source and/or destination).
        To remove the debug output, just click on the trash can.
    </p>

    <form method="POST" id="debug-add-frm">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5em"></th>
                <th>Source storage</th>
                <th>Destination storage</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody id="debug-list">
        </tbody>
        <tbody id="debug-add">
            <tr>
                    <td>
                        <button type="submit" class="btn btn-link" id="debug-add-frm-submit">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                    <td>
                        <input type="text" name="source_se" placeholder="Source SE" class="form-control"
                            id="debug-add-field-source"/>
                    </td>
                    <td>
                        <input type="text" name="dest_se" placeholder="Destination SE" class="form-control"
                            id="debug-add-field-destination"/>
                    </td>
                    <td>
                        <select name="debug_level" class="form-control">
                            <option value="1" selected="selected">Verbose</option>
                            <option value="2">Very verbose</option>
                            <option value="3">Extremely verbose</option>
                        </select>
                    </td>
            </tr>
        </tbody>
    </table>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Debug levels</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Verbose</dt>
                    <dd>Increased GFAL2 verbosity</dd>
                <dt>Very verbose</dt>
                    <dd>Additionally, dump SRM messages, GridFTP client and control debug information</dd>
                <dt>Extremely verbose</dt>
                    <dd>Additionally, dump a lot of Globus debug and trace output, plus XRootD client traces</dd>
            </dl>
        </div>
    </div>
</div>

<script src="/js/config/debug.js" onload="setupDebug()"></script>

<%include file="footer.html"/>
